.photoProfile {
  margin-top: 7px;
  width: 90%;
  border: 2px solid #5b7787;
  border-radius: 50%;
  justify-self: center;
}

i {
  justify-self: center;
  display: inline;
}

a {
  justify-self: start;
  display: inline;
}

.parent {
  align-items: center;
  padding-left: 5px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 3px;
}

@media screen and (min-width: 1024px) {
  .parent {
    .mat-button {
      display: inline;
    }
  }
}

@media screen and (max-width: 1024px) {
  .parent {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    .mat-button {
      display: none;
    }
  }
}