<app-card-component [title]='title' [cardRef]='listContent'></app-card-component>

<ng-template #listContent>
    <div class="parent">
        <div class="mat-elevation-z3 table-container">
            <div fxLayout="row" fxLayoutAlign="space-around start">
                <table mat-table [dataSource]="dataSource" (matSortChange)="change($event)" matSort>
                    <ng-container *ngFor="let listElement of listElements" matColumnDef={{listElement.matColumnDef}}>
                        <mat-header-cell *matHeaderCellDef mat-sort-header>{{listElement.header}}</mat-header-cell>

                        <div *ngIf="isStandard(listElement.matColumnDef); then thenStandard"></div>
                        <ng-template #thenStandard>
                            <mat-cell *matCellDef="let element"> {{element[listElement.matColumnDef]}}</mat-cell>
                        </ng-template>

                        <div *ngIf="isPicture(listElement.matColumnDef); then thenPicture"></div>
                        <ng-template #thenPicture>
                            <mat-cell *matCellDef="let element">
                                <img class="photoProfile" [src]="getImage(element)" alt="Avatar" style="width: 32px; height: 32px;">
                            </mat-cell>
                        </ng-template>

                        <div *ngIf="isDetails(listElement.matColumnDef); then thenDetails"></div>
                        <ng-template #thenDetails>
                            <mat-cell *matCellDef="let element">
                                <a routerLink="/home/{{type}}/{{element.id}}"><button mat-icon-button title="Détails">
                                        <mat-icon>visibility</mat-icon>
                                    </button></a>
                            </mat-cell>
                        </ng-template>

                        <div *ngIf="isFollowedColumn(listElement.matColumnDef); then thenFollowedColumn"></div>
                        <ng-template #thenFollowedColumn>
                            <mat-cell *matCellDef="let element">
                                <div *ngIf="!isMyself(element)">
                                    <div *ngIf="isFollowed(element); then thenUnFollowRequest else thenFollowRequest"></div>
                                </div>
                                <ng-template #thenUnFollowRequest>
                                    <button (click)="unfollow(element)" mat-icon-button title="Ne plus Suivre">
                                        <mat-icon class="material-icons skillfull-orange">notifications</mat-icon>
                                    </button>
                                </ng-template>
                                <ng-template #thenFollowRequest>
                                    <button (click)="follow(element)" mat-icon-button title="suivre">
                                        <mat-icon class="material-icons skillfull">add_alert</mat-icon>
                                    </button>
                                </ng-template>
                            </mat-cell>
                        </ng-template>

                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </table>
            </div>
            <div class="paginatorAndSearch" fxLayout="row" fxLayoutAlign="center start">
                <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="change($event)"
                    [hidePageSize]="hidePageSize" [showFirstLastButtons]="showFirstLastButtons" [length]="length"
                    class="column">
                </mat-paginator>
                <form class="column" [formGroup]="search" (ngSubmit)="onSearch() " class="form-search">
                    <mat-form-field appearance="legacy">
                        <mat-label>Recherche</mat-label>
                        <mat-icon matSuffix>search</mat-icon>
                        <input formControlName="keyword" type="textarea" matInput placeholder="Recherche">
                        <mat-hint>Appuyez sur Entrée après saisie</mat-hint>
                    </mat-form-field>
                </form>
            </div>
        </div>
        <div class="progressBarDiv" *ngIf="isLoading">
            <mat-progress-spinner class="is-loading" mode="indeterminate"></mat-progress-spinner>
        </div>
    </div>
</ng-template>