<app-card-component [title]='title' [cardRef]='listContent'></app-card-component>

<ng-template #listContent>
    <div class="mat-elevation-z3 table-container">
        <div fxLayout="row" fxLayoutAlign="space-around start">
            <table mat-table [dataSource]="dataSource" (matSortChange)="change($event)" matSort>
                <ng-container *ngFor="let listElement of listElements" matColumnDef={{listElement.matColumnDef}}>
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{listElement.header}}</mat-header-cell>
                    <div *ngIf="!isDetails(listElement.matColumnDef); then thenBlock else elseBlock"></div>
                    <ng-template #thenBlock>
                        <mat-cell *matCellDef="let element"> {{element[listElement.matColumnDef]}}</mat-cell>
                    </ng-template>
                    <ng-template #elseBlock>
                        <mat-cell *matCellDef="let element">
                            <a routerLink="/home/{{type}}/{{element.id}}"><button mat-icon-button title="Détails">
                                    <mat-icon>visibility</mat-icon>
                                </button></a>
                        </mat-cell>
                    </ng-template>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </table>
        </div>
        <div class="paginatorAndSearch" fxLayout="row" fxLayoutAlign="center start">
            <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="change($event)"
                [hidePageSize]="hidePageSize" [showFirstLastButtons]="showFirstLastButtons" [length]="length"
                class="column">
            </mat-paginator>
            <form class="column" [formGroup]="search" (ngSubmit)="onSearch() " class="form-search">
                <mat-form-field appearance="legacy">
                    <mat-label>Recherche</mat-label>
                    <mat-icon matSuffix>search</mat-icon>
                    <input formControlName="keyword" type="textarea" matInput placeholder="Recherche">
                    <mat-hint>Appuyez sur Entrée après saisie</mat-hint>
                </mat-form-field>
            </form>
        </div>
    </div>
    <div class="progressBarDiv" *ngIf="isLoading">
        <mat-progress-spinner class="is-loading" mode="indeterminate"></mat-progress-spinner>
    </div>
</ng-template>