<app-login-view-component [title]='title' [loginRef]='passwordForgotten' [icon]='icon'></app-login-view-component>

<ng-template #passwordForgotten>
  <form *ngIf="!doDisplayCodeVerif" [formGroup]="FormGroup" #Form="ngForm" (submit)="register()" fxLayout="column"
    fxLayoutAlign="center center" novalidate>
    <mat-form-field display="flex">
      <mat-label>Email</mat-label>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <input formControlName="email" matInput type="email" placeholder="Entrez votre Email">
        <i class="material-icons md-24">email</i>
      </div>
      <mat-error class="form-control-feedback"
        *ngIf="emailControl.errors && (emailControl.dirty || emailControl.touched)">
        <span *ngIf="emailControl.errors.required">Entrez votre email</span>
        <span *ngIf="emailControl.errors.pattern">email non valide</span>
      </mat-error>
    </mat-form-field>
    <button [disabled]="FormGroup.invalid || Form.submitted" type="submit" mat-raised-button
      color="skillful">Envoyer</button>
  </form>
  <form *ngIf="doDisplayCodeVerif" [formGroup]='codeForm' (ngSubmit)="codeValidation()" fxLayout="column"
    fxLayoutAlign="center center">
    <div id="message-guide">
      <p> Veuillez verifier votre boite mail pour récupérer votre code</p>
    </div>
    <mat-form-field>
      <mat-label>Code de confirmation</mat-label>
      <input type="password" maxlength="10" matInput formControlName="code" />
      <mat-error class="form-control-feedback"
        *ngIf="codeForm.get('code').hasError && (codeForm.get('code').dirty || codeForm.get('code').touched) ">
        <span *ngIf="codeForm.get('code').hasError('required')">Entrer le code reçu</span>
        <span *ngIf="codeForm.get('code').hasError('minlength')">Le code doit contenir 10 charactères</span>
      </mat-error>
    </mat-form-field>
    <!-- bouton de renvoi de code de confirmation -->
    <button type="button" (click)="register();snackBarNewCodeSend()" class="button-code-return" mat-button>Recevoir à
      nouveau un code de confirmation
    </button>
    <button type="submit" mat-raised-button [disabled]="codeForm.invalid" color="skillful">Valider</button>
  </form>
  <div display="flex" >
      <a class="link-back-connection" routerLink="/login" fxLayout="row"
      fxLayoutAlign="center center">
      <i class="material-icons md-24">keyboard_arrow_left</i>Retour</a>
  </div>
</ng-template>