mat-card {
    min-height: 300px;
}

button {
    height: 50px;
}

.card {
    padding: 0;
    margin-bottom: 40px;
    margin-top: 20px;
}

.size-card {
    margin-top: 3%;
    margin-left: 10%;
}

.card-element {
    width: 90%;
}


