mat-card {
    background-color: 245, 245, 245, 1;
    min-height: 400px;
    max-height: 600px;
}

mat-card-title {
    color: #5b7787;
    font-size: 1.5rem;
    font-style: italic;
    text-align: center;
}