.card{
    margin:10px;
}
mat-card {
    background-color: 245, 245, 245, 1;
    min-height: 280px;
    max-height: 800px;
    min-width:260px;
}

mat-card-title {
    color: #5b7787;
    font-size: 1.5rem;
    font-style: italic;
    text-align: center;
}

mat-card-content {
    height: 60%;
}