#addButton {
    width: 100px;
}
.progressBarDiv {
    height: 8px;
}
.is-loading {
    margin-bottom: 10px;
    height: 1px;
}
.mat-chip.mat-standard-chip .mat-chip-remove {
    color: #3f51b5;
    opacity: 4;
}
.formAddChip {
    position:absolute;
    bottom:0px;
    right:25%;
    left:50%;
    // margin-left:-150px;
    padding: 10px;
}