<header fxLayout="row" fxLayoutAlign="start center">
    <a [routerLink]="['/home']"><img src="/assets/pictures/Logo.png " alt="logo" style="height: 45px; width: 45px;">
    </a>
    <div class="recherche">
        <div>
            <form action=" " class="formulaire">
                <div fxLayout="row ">
                    <mat-icon (click)="onSearch()" class="cursor">search</mat-icon>
                    <div class="input "><input (keydown)="onSearch() " placeholder="Recherche... "> </div>
                </div>
            </form>
        </div>
    </div>
    <a mat-button color="skillful" [matMenuTriggerFor]="menu" class="buttonMenu"><mat-icon>menu</mat-icon></a>
    <mat-menu #menu="matMenu">
        <a class="mat-menu-item" [routerLink]="['/home']"><mat-icon class="material-icons md-24">home</mat-icon>Accueil</a>
        <a mat-menu-item [routerLink]="['/home/profile']"><mat-icon class="material-icons md-24">person</mat-icon>Profil</a>
        <a mat-menu-item (click)="hiddenBadgeNotifications" [routerLink]="['/home/notifications']"><mat-icon class="material-icons md-24" matBadge="{{countNotifications}}" matBadgeColor="warn" matBadgePosition="after" matBadgeSize="small" matBadgeHidden="{{hiddenBadgeNotifications}}">notifications</mat-icon>Notifications</a>
        <a mat-menu-item [routerLink]="['/']"><mat-icon class="material-icons md-24">logout</mat-icon>Déconnexion</a>
    </mat-menu>
    <mat-toolbar fxLayout="row" fxLayoutAlign="center center">
        <a style="cursor: pointer" color="skillful" [routerLink]="['/home']" title="Accueil" mat-button><mat-icon fxLayout="column" class="material-icons md-32">home</mat-icon>Accueil</a>
        <a color="skillful" [routerLink]="['/home/profile']" title="Mon profil" mat-button><mat-icon fxLayout="column" class="material-icons md-32">person</mat-icon>Mon profil</a>
        <a color="skillful" (click)="hiddenBadgeNotifications=true" [routerLink]="['/home/notifications']" title="Notifications" mat-button><mat-icon fxLayout="column" class="material-icons md-32" matBadge="{{countNotifications}}" matBadgeColor="warn" matBadgePosition="after" matBadgeSize="small" matBadgeHidden="{{hiddenBadgeNotifications}}">notifications</mat-icon>Notifications</a>
        <a color="skillful" [routerLink]="['/']" (click)="logout()" title="Déconnexion" mat-button><mat-icon fxLayout="column" class="material-icons md-32">logout</mat-icon>Déconnexion</a>
    </mat-toolbar>
   
</header>