header {
    background-color: #f5f5f5;
}

img {
    padding-left: 5px;
}

@media screen and (max-width: 770px) {
    .buttonMenu {
        display: block;
    }
    mat-toolbar a {
        display: none;
    }
}

@media screen and (min-width: 770px) {
    .buttonMenu {
        display: none;
    }
    mat-toolbar a {
        display: block;
    }
}