html,
body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

hr {
  justify-content: center;
  color: #5b7787;
}

a {
  text-decoration: none;
  margin: auto;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 500;
  color: #5b7787;
}

.mat-menu-item {
  font-size: 1.0rem;
  font-style: italic;
  font-weight: 2000;
  color: #5b7787;
}

mat-menu-item {
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 2000;
}

mat-button {
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 2000;
  color: #5b7787;
  background-color: #f5f5f5;
}

.mat-button.mat-skillful,
.mat-menu-item.mat-skillful {
  color: #5b7787;
  background-color: #f5f5f5;
}

.mat-raised-button.mat-skillful {
  background-color: #5b7787;
  color: #f5f5f5
}

mat-icon {
  color: #5b7787;
}
