html,
body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

hr {
  justify-content: center;
  color: #5b7787;
}

a {
  color: #5b7787;
}

.mat-raised-button.mat-skillful {
  background-color: #5b7787;
  color: #f5f5f5
}

mat-icon{
  color: #5b7787;
}