#avatarProfile img {
    border: 2px solid #5b7787;
    border-radius: 50%;
    width: 60px;
    display: block;
    margin: auto;
}
#notification {
    border-bottom: 0.5px solid #E1E4E8;
    background-color: rgb(189,221,234);
    font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
}

#notification:hover {
    cursor: pointer;
    background-color: #EEEEEE;
}

#notification:active {
    background-color: rgb(189,221,234);

}

#notification div p {
    margin: 0px;
}

#notification div {
    margin: 5px;
    width: 100%;
}

.details {
    font-weight: bold;
    
}

