<div class='card mat-elevation-z4' id="post-card">
    <mat-card>
        <div class="user">
            <img class="photoProfile" [src]="getImage()" alt="Avatar" style="width: 32px; height: 32px;"> <h1 id="title-user">{{publication.user.firstName}} {{publication.user.lastName}}</h1>
            <span  (click)="handleDelete()" class="material-icons clickable" id="trash">delete_outline</span>
        </div>
        <div class="Date-pub">
            <p>{{publication.dateOfPost | date}}</p>
        </div>
        <div class="description">
            <p>{{publication.postBodyText}}</p>
        </div>
        <div class="file">
            <img [src]="publication.file" alt="" id="photo-publication">
        </div>
        <div class="votes">
            <p> {{publication.votes}}<span  *ngIf="publication.votes >= 1" class="material-icons clickable" id="icon-down">thumb_up_alt</span> 
            <span class="clickable" id="pub-comment" (click) = showComments()> {{publication.numberOfComment}} <span>commentaire</span></span>
            </p>   
        </div>
        <hr>
        <div class="div-icons">
            <p *ngIf="isViewable"  (click)="show()" class="clickable"><span (click)="handleUpVote()" class="material-icons">thumb_up_alt</span> J'aime</p>
            <p *ngIf="!isViewable" (click)="show()"> <span (click)="handleDownVote()" class="material-icons clickable" id="icon-down">thumb_down</span>J'aime plus</p>
            <p class="clickable" (click) = toggleDisplay()><span class="material-icons">insert_comment</span> Commenter</p>
            <p class="clickable"><span class="material-icons">reply</span> Partager</p>
        </div>
        <div class="div-comments" *ngIf = "isShow">
            <form [formGroup]="formComment" (ngSubmit)="onSubmit()">
                <mat-form-field class="example-form-field">
                    <mat-label id="label">Votre commentaire</mat-label>
                    <input formControlName="comment" matInput type="text" [(ngModel)]="value" id="input-comment">
                    <mat-error class="form-control-feedback" *ngIf="formComment.get('comment').hasError('required') || formComment.get('comment').touched">
                        <span>Min.3 caractères.</span>
                    </mat-error>
                    <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                        <mat-icon id="close-icon">close</mat-icon>
                    </button>
                </mat-form-field>
                <button mat-button color="skillful" type="submit" [disabled]="!formComment.valid" >Publier</button>
            </form>
        </div>
        <div class="list-comments" *ngIf ="hide">
            <app-list-comments [comments]="publication.comments"></app-list-comments>
        </div>
    </mat-card>
</div>

