<div class='card mat-elevation-z4' id="post-card">
    <mat-card>
        <div class="utilisateur">
             <h1>{{user}}</h1>
        </div>
        <div class="Date-pub">
            <h2>{{dateOfPost}}</h2>
        </div>
        <div class="description">
            <p>{{texte}}</p>
        </div>
        <div class="file">
            <img [src]="fichier" alt="">
        </div>
        <div>
            {{votes}}
        </div>
        <hr>
        <div class="div-icons">
            <p class="reaction"><span class="material-icons">thumb_up_alt</span> J'aime</p>
            <p class="reaction"><span class="material-icons">insert_comment</span> Commenter</p>
            <p class="reaction"><span class="material-icons">reply</span> Partager</p>
        </div>
    </mat-card>
</div>

