.btn-profil {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  width: 120px;
}

@media screen and (min-width: 960px) {
  .parent {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: 30px;
  }
}

@media screen and (max-width: 960px) {
  .parent {
    padding-top: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: 15px;
  }
}
