
<div class='card mat-elevation-z4' id="publication-card">
    <mat-card>
        <div class="div-principal">
            <div>
                <mat-card-title>
                    <button mat-button (click)="openDialog()" id="title-publication"><span class="material-icons" id="create-icon">create</span> Créer un post</button>
                </mat-card-title>
            </div>
            <div class="div-icones">
                <div><span class="material-icons" id="post-icon">post_add</span></div>
                <div><span class="material-icons" id="photo-icon">add_a_photo</span></div>
                <div><span class="material-icons" id="video-icon">video_call</span></div>
            </div>
        </div>
    </mat-card>
</div>
