
  .connectionForm{
    max-width: 20%;
    min-height: 20em;
    padding: 5rem;
    background-color: #fff;
    margin: 5em auto;
  }
  .mat-form-field{
    width: 300px;
    margin-bottom: 1.5em;
    margin-top: 1em;
  }
  .mat-card-title{
    margin-bottom: 1em;
    color: grey;
    padding:2rem 0 2rem 0;
  }
  .container{
    top: 0px;
    position: absolute;
    width: 100%;
    min-height: 100%;
    background-color:rgb(229, 230, 232);
  }
  div.mat-tab-body-wrapper{
    overflow: none;
  }

  .logo{
    width: 100%;
  }
  img.logoUniversite{
    max-width: 99%;
    margin: 1.5rem auto;
  }
  i.material-icons{
    color:#ff6550;
    margin:3px;
  }

  @media only screen and (max-width: 1230px) {
   
    .connectionForm{
      max-width: 16em;
    }
    .mat-card-title{
      font-size: 18px;
      //min-width: 200px; // j'avais un problème pour avoir le texte centré sur ecran mobileNumber (iphone5)
      margin:auto;
      padding:2rem 0 2rem 0;
    }
    .mat-card{
      width: 300px;
    }
  }
  
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  
    .mat-form-field {
      max-width: 250px; // Afin d'avoir le input qui reste dans le cartouche blanc, sur ecran mobileNumber (iphone5)
    }
  }
