<app-card-component [title]='title' [cardRef]='applicationsList'></app-card-component>

<ng-template #applicationsList>
    <div *ngFor="let application of jobApplicationsList" fxLayout="row" fxFlex="100" class="Application">
        <p class="Company" fxLayout="row" fxFlex="35"> {{application.offer.company}}</p>
        <p class="Job" fxLayout="row" fxFlex="40"> {{application.offer.name}} </p>
        <span fxFlex="10" fxLayout="row" fxLayoutAlign="center start" class="icon-candidature">
            <span *ngIf="application.status ==='ACCEPTED'">
                <mat-icon aria-hidden="false" aria-label="Example home icon" style="color: seagreen">done
                </mat-icon>
            </span>
            <span *ngIf="application.status ==='REJECTED'">
                <mat-icon aria-hidden="false" aria-label="Example home icon" color="warn">close</mat-icon>
            </span>
            <span *ngIf="application.status ==='WAITING'">
                <mat-icon aria-hidden="false" aria-label="Example home icon" style="color: #1a7ea2">
                    hourglass_empty</mat-icon>
            </span>
        </span>
        <!-- <a fxFlex="15" fxLayout="row" fxLayoutAlign="end start" href="{{post.jobOffer.details}}"
            style="color: peru">Details</a> -->
    </div>
</ng-template>